dist: xenial   # required for Python >= 3.7
language: python
python:
    - "3.7"
services:
    - postgresql
before_script:
    - psql --version
    - psql -c 'SELECT version();' -U postgres
    - psql -c 'CREATE DATABASE opentrivia_test;' -U postgres
    - psql -c "CREATE USER trivia WITH CREATEDB PASSWORD 'trivia';" -U postgres
    - psql -c "GRANT ALL PRIVILEGES ON DATABASE opentrivia_test TO trivia;" -U postgres
before_install: cd src
# command to install dependencies
install:
    - pip install -r ./requirements.txt

# command to run tests
script:
    - python -m unittest -v