{% extends "base.html" %}

{% block title %}Developer Page{% endblock %}

{% block content %}
<div class="mt-5">
    <h1>API Resources</h1>
    <p>Here you will see listed all the available resources along with their responses
        details.
    </p>

    <h3>Resources</h3>
    <p>Questionnare API supports the following resources:</p>
    <ul>
        <li>Questions</li>
        <li>Answers</li>
        <li>Categories</li>
    </ul>

    <h3>Endpoints</h3>
    <p>For each resources you have available the following endpoints:</p>
    <h4>Question</h4>
    <ul>
        <li><strong>GET</strong> api/v1/questions</li>
        <li><strong>GET</strong> api/v1/questions/&lt;id&gt;</li>
        <li><strong>POST</strong> api/v1/questions</li>
        <li><strong>PUT</strong> api/v1/questions/&lt;id&gt;</li>
        <li><strong>DELETE</strong> api/v1/questions/&lt;id&gt;</li>
    </ul>
    <h4>Answers</h4>
    <ul>
        <li><strong>GET</strong> api/v1/answers/&lt;id&gt;</li>
        <li><strong>POST</strong> api/v1/answers</li>
        <li><strong>PUT</strong> api/v1/answers/&lt;id&gt;</li>
        <li><strong>DELETE</strong> api/v1/answers/&lt;id&gt;</li>
    </ul>
    <h4>Categories</h4>
    <ul>
        <li><strong>GET</strong> api/v1/categories</li>
        <li><strong>GET</strong> api/v1/categories/&lt;id&gt;</li>
        <li><strong>POST</strong> api/v1/categories</li>
        <li><strong>PUT</strong> api/v1/categories/&lt;id&gt;</li>
        <li><strong>DELETE</strong> api/v1/categories/&lt;id&gt;</li>
    </ul>
</div>
{% endblock content %}